@import '../assets/scss/variables.scss';
.side-nav{
    width:3%;
    transition: width 0.2s linear;
    @media screen and (max-width: $break-small) {
      width:0%;
    }
}
.side-nav.navopen{
    width:18%;
}
.main-content{
    width:97%;
    height: 100%;
    padding:10px;
    background-color: #e2eaea;
    transition: width 0.2s linear;
}
.main-content.main-shrunk{
    width:82%;
}
.main-div{
    width:100%;
    height:100%;
    position: relative;
}
.main-div > *{
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.card-title{
    text-transform: capitalize;
}
