@import '../assets/scss/variables.scss';
.side-nav{
    width:60px;
    transition: width 0.2s linear;
    @media screen and (max-width: $break-small) {
      width:0px;
    }
}
.side-nav.navopen{
    width:400px;
    @media screen and (max-width: $break-small) {
      width:100%;
    }
}
.main-content{
    width:calc(100% - 60px);
    @media screen and (max-width: $break-small) {
      width:100%;
    }
    height: 100%;
    padding:10px;
    background-color: #e2eaea;
    transition: width 0.2s linear, opacity 0.1s linear;
}
.main-content.main-shrunk{
    width:calc(100% - 400px);
    @media screen and (max-width: $break-small) {
      opacity: 0;
      display: none;
    }
}
.main-div{
    width:100%;
    height:100%;
    position: relative;
}
.main-div > *{
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.card-title{
    text-transform: capitalize;
}
